// Contact__section style
@mixin contact {
  color: $color-2;
  text-align: center;
  font-family: $font-1;
  text-transform: capitalize;
}
#Contact__section {
  // overflow: hidden;
  background-image: url(../Imags/CTA_Contact-bg.png);
  background-size: cover;
  padding: 87px 0 70px 0;
  // .container {
  //  max-width: 360px;
  //   margin: 0 auto;
  // }
  .Contact_img {
    display: none;
  }
  .Contact_text {
    text-align: center;
    h2 {
      @include contact;
      font-size: 28px;
      font-weight: 700;
      line-height: 38px;
      margin-bottom: 24px;
    }
    p {
      @include contact;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 64px;
    }
    .Contact_btns {
      display: flex;
      gap: 32px;
      align-items: center;
      // justify-content: space-between;
      button {
        border-radius: 5px;
        padding: 20px 42px;
      }
      .btn-white {
        background-color: $color-2;
        color: $color-1;
      }
      button:hover {
        background-color: $color-2;
        color: $color-1;
        cursor: pointer;
      }
      .btn-white:hover {
        background-color: $color-1;
        color: $color-2;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  @mixin contact {
    color: $color-2;
    text-align: start;
    font-family: $font-1;
    text-transform: capitalize;
  }
  #Contact__section {
    padding: 70px 0 50px 0;
    // .container {
    //   max-width: 90%;
    //   margin: 0 auto;
    // }
    .contact {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 80px;
    }
    .Contact_img {
      display: flex;
    
      img {
        position: relative;
        bottom: 100px;
        width: 350px;
        height: 350px;
      }
    }
    .Contact_text {
      text-align: start;
      margin-top: -120px;
      h2 {
        @include contact;
        font-size: 24px;
        font-weight: 800;
        line-height: 38px;
        margin-bottom: 18px;
      }
      p {
        @include contact;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 30px;
      }
      .Contact_btns {
        display: flex;
        gap: 20px;
        align-items: center;
        // justify-content: space-between;
        button {
          border-radius: 5px;
          padding: 15px 20px;
          font-weight: 500;
          font-size: 14px;
        }
        .btn-white {
          background-color: $color-2;
          color: $color-1;
        }
        button:hover {
          background-color: $color-2;
          color: $color-1;
          cursor: pointer;
        }
        .btn-white:hover {
          background-color: $color-1;
          color: $color-2;
        }
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  @mixin contact {
    color: $color-2;
    text-align: start;
    font-family: $font-1;
    text-transform: capitalize;
  }
  #Contact__section {
    padding: 70px 0 76px 0;
    // .container {
    //  max-width: 1280px;
    //   margin: 0 auto;
    // }
    .contact {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 80px;
    }
    .Contact_img {
      display: flex;
    
      img {
        position: relative;
        bottom: 120px;
        width: 513px;
        height: 513px;
      }
    }
    .Contact_text {
      text-align: start;
      margin-top: -120px;
      h2 {
        @include contact;
        font-size: 42px;
        font-weight: 800;
        margin-bottom: 24px;
        line-height: normal;
      }
      p {
        @include contact;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 90px;
      }
      .Contact_btns {
        display: flex;
        gap: 32px;
        align-items: center;
        button {
          border-radius: 5px;
          padding: 20px 40px;
          font-weight: 500;
          font-size: 16px;
        }
        .btn-white {
          background-color: $color-2;
          color: $color-1;
        }
        button:hover {
          background-color: $color-2;
          color: $color-1;
          cursor: pointer;
        }
        .btn-white:hover {
          background-color: $color-1;
          color: $color-2;
        }
      }
    }
  }
}

