#Course__section {
  
  .cartegories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 74px 0 24px;
    h3 {
      font-size: 16px;
      font-weight: 500;
      line-height: normal;
      max-width: 225px;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
    }
  }
  .list {
    display: flex;
    gap: 16px;
    a {
      display: none;
    }
    .img-text {
      position: relative;
      // animation-name: sevinch;
      // animation-duration: 4s;
      // animation-iteration-count: 3;
      img {
        max-width: 116px;
        border-radius: 5px;
      }
      p {
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        position: absolute;
        top: 80px;
        color: $color-2;
      }
      .p1{
        margin: 0 18px;
      }
      .p2{
        padding: 0 30px;
      }
      .p3{
        padding: 0 5px;
      }
      .p4{
        padding: 0 13px;
      }
      
    }
  }
  // @keyframes sevinch {
  //   0%{
  //     right:0;
  //     top:0;
  //   }
  //   100%{
  //     right: 100%;
  //     top:0;
  //   }
    
  // }
}

@media (min-width: 1440px) {
  #Course__section {
    .container {
      max-width: 1240px;
      margin: 0 auto;

      .cartegories {
        margin: 64px 0;
        h3 {
          font-size: 32px;
          font-weight: 600;
          line-height: normal;
          max-width: 754px;
        }
        p {
          font-size: 24px;
          font-weight: 400;
          line-height: normal;
        }
      }
      .list {
        gap: 32px;
        position: relative;
     
        a {
          border-radius: 100px;
          background: #fff;
          position: absolute;
          display: block;
          color: $color-1;
          font-size: 30px;
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          i{
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .left {
          left: 20px;
          z-index: 1;
          top: 180px;
        }
        .right {
          right: 20px;
          top: 180px;
        }
        .img-text {
          img {
            max-width: 291px;
            max-height: 432px;
          }
          p {
            font-size: 32px;
            font-weight: 600;
            line-height: normal;
            top: 370px;
            left: 20px;
          }
        }
      }
    }
  }
}
