._Course_section {
  h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
  }
  .list{
    a {
        display: none;
    }
  }
}
