.Learn {
  margin-top: 50px;
  max-width: 380px;
  .Learn_top {
    display: flex;
    justify-content: space-between;

    h2 {
      font-size: 16px;
      font-weight: 600;
      text-transform: capitalize;
      color: $color-4;
    }
    .Learn_button {
      button {
        padding: 4px 8px;
        border-radius: 28.295px;
      }
    }
  }
  .Learn_table {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // flex-wrap: wrap;
    // margin: 0 auto;
    grid-row: 2;
    gap: 16px;
    // display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;

    .Learn_table_1 {
      border-radius: 2.791px;
      box-shadow: 0px 0px 9.321612358093262px 0px rgba(203, 203, 203, 0.25);
      display: flex;
      flex-direction: column;
      width: 182px;
      &:last-child {
        grid-column: 1/3;
        // grid-row: 2;
      }
      .Learn_img {
        img:first-child {
          width: 182px;
          border-radius: 5px;
        }
        .none {
          display: none;
        }
      }
      .Learn_text {
        display: flex;
        align-items: center;
        justify-content: center;
        // padding: 24px 24px 0;
        margin-left: 13px;
        .Learn_text_icon {
          display: flex;
          align-items: center;
          margin-bottom: 18px;
          gap: 4px;
          margin-right: 8px;
          i {
            font-size: 8px;
          }
          p {
            font-size: 8px;
          }
        }
        h5 {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px; /* 142.857% */
          text-transform: capitalize;
          max-width: 150px;
        }
      }
      .Learn_button {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 4px;
        .Learn_button_left {
          display: flex;
          align-items: center;
          gap: 4px;
          margin-top: 12px;
          margin-bottom: 24px;
          margin-left: 14px;
          h6 {
            font-size: 12px;
            color: $color-4;
          }
          .Learn_button_left_icon {
            display: flex;
            gap: 8px;
            p {
              font-size: 12px;
              color: $color-4;
              margin-right: 12px;
            }
          }
        }
        .Learn_button_right {
          h3 {
            font-size: 14px;
            font-weight: 500;
            color: $color-1;
            margin-left: 14px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  .Learn {
    margin-top: 98px;
    margin-bottom: 36px;
    max-width: 1237px;
    .Learn_top {
      .Learn_button {
        display: none;
      }
      h2 {
        font-size: 32px;
        //
        font-weight: 600;
        text-transform: capitalize;
        color: $color-4;
      }
    }
    .Learn_table {
      margin-top: 24px;
      display: grid;
      align-items: start;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 380px;

      .Learn_table_1 {
        border-radius: 2.791px;
        width: 392px;
        // overflow: ;
        box-shadow: 0px 0px 9.321612358093262px 0px rgba(203, 203, 203, 0.25);
        // display: flex;
        // flex-direction: column;
        // flex-direction: column;
        // width: 182px;
        // &:last-child {
        //   grid-column: 1/0;
        // }
        .Learn_img {
          position: relative;

          img:first-child {
            width: 391px;
            border-radius: 5px;
          }
          &:last-child {
            // grid-column: 3/4;
            // grid-row: 1;
          }
          .img_3 {
          }
          .none {
            display: block;
            position: absolute;
            top: 90px;
            left: 20px;
          }
          .img_none {
            left: 310px;
          }
        }
        .Learn_text {
          display: flex;
          // flex-direction: column;
          padding: 24px 20px 0;
          justify-content: space-between;
          align-items: center;
          max-width: 392px;
          .Learn_text_icon {
            display: flex;
            max-width: 48px;
            height: 24px;
            align-items: center;
            gap: 6px;
            margin-bottom: 70px;

            p {
              font-size: 16px;
            }
            i {
              font-size: 18px;
            }
          }
          h5 {
            font-size: 24px;
            font-weight: 500;
            line-height: normal;
            text-transform: capitalize;
            max-width: 340px;
            margin-bottom: 42px;
            // margin-top: 24px;
          }
        }
        .Learn_button {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          // justify-content: center;
          padding: 0 35px 28px;
          .Learn_button_left {
            display: flex;
            // align-items: center;
            gap: 16px;
            margin: 0;
            h6 {
              font-size: 16px;
              font-weight: 500;
              color: $color-4;
            }

            .Learn_button_left_icon {
              display: flex;
              gap: 8px;
              p {
                font-size: 16px;
                color: $color-4;
              }
            }
          }
          .Learn_button_right {
            h3 {
              font-size: 24px;
              font-weight: 500;
              color: $color-1;
              // margin-bottom: 10px;
              margin: 0;
            }
          }
        }
      }
    }
  }
}
