#Popular__section {
  display: none;
}

.Popular__section2 {
  .popular {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 49px 0 24px;
    h3 {
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
    }
    button {
      padding: 4px 8px;
      display: flex;
      gap: 6px;
      border-radius: 28.295px;
      i {
        color: $color-2;
      }
    }
  }
  .courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    .course {
      box-shadow: 0px 0px 20px 0px rgba(203, 203, 203, 0.25);
      border-radius: 5px;
      border-radius: 4px;
      img {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        width: 100%;
      }

      .h5-a {
        align-items: center;
        justify-content: space-between;
        padding: 0 12px 0 13px;
        position: relative;
        h5 {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          max-width: 145px;
        }
        .star-num {
          position: absolute;
          display: flex;
          align-items: center;
          gap: 4px;
          text-align: center;
          left: 150px;
          bottom: 22px;
          
        
        a {
          i {
            font-size: 8px;
            color: $color-1;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        p {
          font-size: 8px;
          font-weight: 400;
        }
      }
      }
      h6 {
        color: $color-1;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        padding-left: 14px;
        margin: 4px 0 12px 0;
      }
      .number {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 17px 9px 14px;
        p {
          font-size: 12px;
          font-weight: 400;
          line-height: normal;
          display: flex;
          align-items: center;
          img {
            width: 12px;
            height: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          
        }
      }
    }
  }
}

  @media screen and (min-width: 1440px) {
    .Popular__section2 {
      display: none;
    }
    #Popular__section {
      display: block;
      .popular {
        padding-top: 98px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
          font-size: 32px;
          font-weight: 600;
          line-height: normal;
          text-transform: capitalize;
        }
        button {
          padding: 8px 16px;
          gap: 10px;
          border-radius: 50px;
          font-size: 20px;
          font-weight: 400;
          line-height: normal;
          display: flex;
          i {
            color: $color-2;
          }
        }
      }
      .courses {
        margin-top: 64px;
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(3, 1fr);
        .course {
          border-radius: 10px;
          box-shadow: 0px 0px 20px 0px rgba(203, 203, 203, 0.25);

          img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 100%;
          }
          .h5-a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 24px 24px 42px 24px;
            h5 {
              font-size: 24px;
              font-weight: 500;
              line-height: normal;
              max-width: 282px;
              text-transform: capitalize;
            }
            a {
              i {
                font-size: 18px;
                color: $color-1;
              }
            }
            p {
              font-size: 16px;
              font-weight: 400;
              line-height: normal;
            }
          }
          .number {
            padding: 0 24px 28px 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h5 {
              color: $color-1;
              font-size: 24px;
              font-weight: 600;
              line-height: normal;
            }
            p {
              font-size: 16px;
              font-weight: 500;
              display: flex;
              align-items: center;
              img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }
    }
  }

@media (min-width:768px){
  #Popular__section{
    display: none;
  }
  .Popular__section2 {
    display: block;
    .popular{
      h3{
        font-size: 28px;
        font-weight: 600;
      }
    }
    .courses{
      .course{
        .h5-a{
          position: initial;
          display: flex;
          align-items: center;
          justify-content: space-between;
          h5{
            font-size: 18px;
          }
          .star-num{
            position: initial;
            a{
              i{
                font-size: 15px;
              }
            }
            p{
              font-size: 15px;
            }
          }
        }
        h6{
          font-size: 20px;
        }
        .number{
          p{
            font-size: 16px;
            img{
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
  }
}
