@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background-color: #09b451;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 698px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
}
nav {
  padding: 28px 0;
  margin-bottom: 10px;
  box-shadow: 0 0 10px 0 rgb(241, 235, 235);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_left {
  display: flex;
  gap: 12px;
  align-items: center;
}
.nav_left ul {
  display: none;
}

.logo img {
  width: 94px;
  height: 29px;
}

.search, .nav_btn {
  display: none;
}

#hero {
  padding-bottom: 51.31px;
}
#hero .container {
  display: grid;
  gap: 69.43px;
  background-image: url(/Imags/Frame\ 6516_hero_bac.svg);
  background-size: 698px 1251px;
  background-repeat: no-repeat;
  border-radius: 30px;
  background-position: 0 0px;
}

.h_tepa {
  display: grid;
  gap: 60px;
}

.h_left h1 {
  max-width: 300px;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 40px;
}
.h_left h1 span {
  color: #09b451;
}
.h_left button {
  padding: 20px 42px;
  border-radius: 5px;
}

.h_right img {
  max-width: 100%;
}

.h_down {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 16px;
}

.info {
  display: flex;
  gap: 10.74px;
  align-items: center;
  padding: 9px 7px;
  width: 177px;
  height: 54px;
  background: #DFF;
  border-radius: 4.47px;
}
.info p {
  font-size: 14.318px;
  font-weight: 400;
}

.info2 {
  display: flex;
  gap: 10.74px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 9px 15px;
  width: 210px;
  height: 54px;
  background: #DFF;
  border-radius: 4.47px;
}
.info2 p {
  font-size: 14.318px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .nav_menu {
    display: none;
  }
  .nav_right {
    display: flex;
    align-items: center;
  }
  .search, .nav_btn {
    display: flex;
    margin-right: 14px;
  }
  .yashil_btn button {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 5px;
  }
  .oq_button button {
    background-color: #fff;
    color: #09b451;
    padding: 8px 18px;
    font-size: 16px;
    font-weight: 600;
  }
  #hero {
    padding-top: 0px;
  }
  #hero .container {
    background: none;
  }
  .h_tepa {
    display: flex;
    background-image: url(/Imags/Frame\ 6516_hero_bac.svg);
    background-repeat: no-repeat;
    background-size: 2372px 1085px;
    border-radius: 30px;
    padding: 20px 0;
    align-items: center;
    gap: 0;
  }
  .h_left h1 {
    font-size: 36px;
    max-width: 321px;
  }
  .h_right {
    margin-top: 30px;
  }
  .h_right img {
    width: 400px;
    height: 300px;
  }
  .h_down {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 20px;
  }
  .h_down .info:nth-child(1) {
    grid-column: 1/3;
  }
  .h_down .info:nth-child(2) {
    grid-column: 3/5;
  }
  .h_down .info:nth-child(3) {
    grid-column: 5/7;
  }
  .h_down .info:nth-child(4) {
    grid-column: 2/4;
    grid-row: 2;
  }
  .info2 {
    grid-column: 4/6;
    grid-row: 2;
  }
  .info2 {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1300px) {
  .container {
    max-width: 1240px;
    margin: 0 auto;
  }
  nav {
    margin-bottom: 12px;
  }
  .logo img {
    width: 132px;
    height: 41px;
  }
  .menu_bar {
    display: none;
  }
  .nav_left {
    gap: 160px;
  }
  .nav_left ul {
    display: flex;
    gap: 35px;
  }
  .nav_left a {
    font-size: 16px;
    font-weight: 600;
    color: rgba(64, 64, 64, 0.8);
  }
  .nav_right {
    display: flex;
    align-items: center;
  }
  .search {
    display: flex;
    margin-right: 14px;
  }
  .nav_menu {
    display: none;
  }
  .nav_btn {
    display: flex;
    gap: 8px;
  }
  .yashil_btn button {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 5px;
  }
  .oq_button button {
    background-color: #fff;
    color: #09b451;
    padding: 8px 18px;
    font-size: 16px;
    font-weight: 600;
  }
  #hero {
    padding-top: 0px;
  }
  #hero .container {
    background: none;
  }
  .h_tepa {
    display: flex;
    justify-content: space-between;
    background-image: url(/Imags/Frame\ 6516_hero_bac.svg);
    background-repeat: no-repeat;
    background-size: 2372px 1085px;
    border-radius: 30px;
    padding: 20px 0;
    align-items: center;
    padding-left: 60px;
  }
  .h_left h1 {
    font-size: 60px;
    max-width: 551px;
  }
  .h_right {
    margin-top: 30px;
  }
  .h_right img {
    width: 601px;
    height: 500px;
  }
  .h_down {
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    row-gap: 0;
    column-gap: 0;
  }
  .info2 {
    margin: 0;
  }
}
#Course__section {
  display: none;
}

@keyframes example {
  100% {
    left: 0px;
  }
  0% {
    left: 0px;
  }
}
#Course__section_lg .cartegories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 74px 0 24px;
}
#Course__section_lg .cartegories h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  max-width: 225px;
}
#Course__section_lg .cartegories p {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
#Course__section_lg .list {
  overflow-x: hidden;
}
#Course__section_lg .list a {
  display: none;
}
#Course__section_lg .list .text-img {
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: backwards;
  display: flex;
  gap: 16px;
  width: 100%;
}
#Course__section_lg .list .text-img .categorie {
  position: relative;
}
#Course__section_lg .list .text-img .categorie img {
  width: 116px;
  height: 133px;
  border-radius: 5px;
}
#Course__section_lg .list .text-img .categorie p {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  top: 40%;
  color: #fff;
}
#Course__section_lg .list .text-img .categorie .p1 {
  padding: 0 18px;
}
#Course__section_lg .list .text-img .categorie .p2 {
  padding: 0 30px;
}
#Course__section_lg .list .text-img .categorie .p3 {
  padding: 0 5px;
}
#Course__section_lg .list .text-img .categorie .p4 {
  padding: 0 13px;
}
#Course__section_lg .list .text-img .categorie .p5 {
  padding: 0 24px;
}
#Course__section_lg .list .text-img .categorie .p6 {
  padding: 0 12px;
}
#Course__section_lg .list .text-img .categorie .p7 {
  padding: 0 8px;
}

@media (min-width: 768px) {
  #Course__section_lg .cartegories h3 {
    font-size: 20px;
    max-width: 300px;
  }
  #Course__section_lg .cartegories p {
    font-size: 18px;
  }
  #Course__section_lg .list .text-img .categorie img {
    width: 160px;
    height: 180px;
  }
  #Course__section_lg .list .text-img .categorie p {
    font-size: 19px;
  }
  #Course__section_lg .list .text-img .categorie .p1 {
    padding: 0 32px;
  }
  #Course__section_lg .list .text-img .categorie .p2 {
    padding: 0 42px;
  }
  #Course__section_lg .list .text-img .categorie .p3 {
    padding: 0 15px;
  }
  #Course__section_lg .list .text-img .categorie .p4 {
    padding: 0 28px;
  }
}
@media (min-width: 1440px) {
  #Course__section_lg {
    display: none;
  }
  #Course__section {
    display: block;
  }
  #Course__section .cartegories {
    margin: 64px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #Course__section .cartegories h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    max-width: 754px;
  }
  #Course__section .cartegories p {
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
  }
  #Course__section .slider {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  #Course__section .slider .slides {
    display: flex;
    gap: 32px;
    transition: transform 0.5s ease-in-out;
  }
  #Course__section .slider .slides .slide {
    position: relative;
  }
  #Course__section .slider .slides .slide img {
    width: 291px;
    height: 432px;
  }
  #Course__section .slider .slides .slide p {
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    bottom: 20px;
    left: 25px;
    color: #fff;
    position: absolute;
  }
  #Course__section .slider .prev,
  #Course__section .slider .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
    border-radius: 100px;
    background: #fff;
    display: block;
    color: #09b451;
    font-size: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #Course__section .slider .prev {
    left: 15px;
  }
  #Course__section .slider .next {
    left: 1165px;
  }
}
#Popular__section {
  display: none;
}

#Popular__section_lg .popular {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 49px 0 24px;
}
#Popular__section_lg .popular h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}
#Popular__section_lg .popular button {
  padding: 4px 8px;
  display: flex;
  gap: 6px;
  border-radius: 28.295px;
}
#Popular__section_lg .popular button i {
  color: #fff;
}
#Popular__section_lg .courses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
#Popular__section_lg .courses .course {
  box-shadow: 0px 0px 20px 0px rgba(203, 203, 203, 0.25);
  border-radius: 5px;
  border-radius: 4px;
}
#Popular__section_lg .courses .course img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
}
#Popular__section_lg .courses .course .h5-a {
  align-items: center;
  justify-content: space-between;
  padding: 0 12px 0 13px;
  position: relative;
}
#Popular__section_lg .courses .course .h5-a h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  max-width: 145px;
}
#Popular__section_lg .courses .course .h5-a .star-num {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 4px;
  text-align: center;
  left: 150px;
  bottom: 22px;
}
#Popular__section_lg .courses .course .h5-a .star-num a i {
  font-size: 8px;
  color: #09b451;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Popular__section_lg .courses .course .h5-a .star-num p {
  font-size: 8px;
  font-weight: 400;
}
#Popular__section_lg .courses .course h6 {
  color: #09b451;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  padding-left: 14px;
  margin: 4px 0 12px 0;
}
#Popular__section_lg .courses .course .number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 17px 9px 14px;
}
#Popular__section_lg .courses .course .number p {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
}
#Popular__section_lg .courses .course .number p img {
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  #Popular__section_lg .popular h3 {
    font-size: 28px;
    font-weight: 600;
  }
  #Popular__section_lg .courses .course .h5-a {
    position: initial;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #Popular__section_lg .courses .course .h5-a h5 {
    font-size: 18px;
    max-width: 200px;
  }
  #Popular__section_lg .courses .course .h5-a .star-num {
    position: initial;
  }
  #Popular__section_lg .courses .course .h5-a .star-num a i {
    font-size: 15px;
  }
  #Popular__section_lg .courses .course .h5-a .star-num p {
    font-size: 15px;
  }
  #Popular__section_lg .courses .course h6 {
    font-size: 20px;
  }
  #Popular__section_lg .courses .course .number p {
    font-size: 16px;
  }
  #Popular__section_lg .courses .course .number p img {
    width: 16px;
    height: 16px;
  }
}
@media (min-width: 1440px) {
  #Popular__section_lg {
    display: none;
  }
  #Popular__section {
    display: block;
  }
  #Popular__section .popular {
    padding-top: 98px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #Popular__section .popular h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
  }
  #Popular__section .popular button {
    padding: 8px 16px;
    gap: 10px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    display: flex;
  }
  #Popular__section .popular button i {
    color: #fff;
  }
  #Popular__section .courses {
    margin-top: 64px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
  }
  #Popular__section .courses .course {
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(203, 203, 203, 0.25);
  }
  #Popular__section .courses .course img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
  }
  #Popular__section .courses .course .h5-a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px 42px 24px;
  }
  #Popular__section .courses .course .h5-a h5 {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    max-width: 282px;
    text-transform: capitalize;
  }
  #Popular__section .courses .course .h5-a a i {
    font-size: 18px;
    color: #09b451;
  }
  #Popular__section .courses .course .h5-a p {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
  }
  #Popular__section .courses .course .number {
    padding: 0 24px 28px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #Popular__section .courses .course .number h5 {
    color: #09b451;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
  }
  #Popular__section .courses .course .number p {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  #Popular__section .courses .course .number p img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
  }
}
.Learn {
  margin-top: 50px;
  max-width: 380px;
}
.Learn .Learn_top {
  display: flex;
  justify-content: space-between;
}
.Learn .Learn_top h2 {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  color: #333;
}
.Learn .Learn_top .Learn_button button {
  padding: 4px 8px;
  border-radius: 28.295px;
}
.Learn .Learn_table {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 2;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 380px;
}
.Learn .Learn_table .Learn_table_1 {
  border-radius: 2.791px;
  box-shadow: 0px 0px 9.3216123581px 0px rgba(203, 203, 203, 0.25);
  display: flex;
  flex-direction: column;
  width: 182px;
}
.Learn .Learn_table .Learn_table_1:last-child {
  grid-column: 1/3;
}
.Learn .Learn_table .Learn_table_1 .Learn_img img:first-child {
  width: 182px;
  border-radius: 5px;
}
.Learn .Learn_table .Learn_table_1 .Learn_img .none {
  display: none;
}
.Learn .Learn_table .Learn_table_1 .Learn_text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 13px;
}
.Learn .Learn_table .Learn_table_1 .Learn_text .Learn_text_icon {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  gap: 4px;
  margin-right: 8px;
}
.Learn .Learn_table .Learn_table_1 .Learn_text .Learn_text_icon i {
  font-size: 8px;
}
.Learn .Learn_table .Learn_table_1 .Learn_text .Learn_text_icon p {
  font-size: 8px;
}
.Learn .Learn_table .Learn_table_1 .Learn_text h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  text-transform: capitalize;
  max-width: 150px;
}
.Learn .Learn_table .Learn_table_1 .Learn_button {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 4px;
}
.Learn .Learn_table .Learn_table_1 .Learn_button .Learn_button_left {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 12px;
  margin-bottom: 24px;
  margin-left: 14px;
}
.Learn .Learn_table .Learn_table_1 .Learn_button .Learn_button_left h6 {
  font-size: 12px;
  color: #333;
}
.Learn .Learn_table .Learn_table_1 .Learn_button .Learn_button_left .Learn_button_left_icon {
  display: flex;
  gap: 8px;
}
.Learn .Learn_table .Learn_table_1 .Learn_button .Learn_button_left .Learn_button_left_icon p {
  font-size: 12px;
  color: #333;
  margin-right: 12px;
}
.Learn .Learn_table .Learn_table_1 .Learn_button .Learn_button_right h3 {
  font-size: 14px;
  font-weight: 500;
  color: #09b451;
  margin-left: 14px;
}

@media screen and (min-width: 1440px) {
  .Learn {
    margin-top: 98px;
    margin-bottom: 36px;
    max-width: 1237px;
  }
  .Learn .Learn_top .Learn_button {
    display: none;
  }
  .Learn .Learn_top h2 {
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    color: #333;
  }
  .Learn .Learn_table {
    margin-top: 24px;
    display: grid;
    align-items: start;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
  }
  .Learn .Learn_table .Learn_table_1 {
    border-radius: 2.791px;
    width: 392px;
    box-shadow: 0px 0px 9.3216123581px 0px rgba(203, 203, 203, 0.25);
  }
  .Learn .Learn_table .Learn_table_1 .Learn_img {
    position: relative;
  }
  .Learn .Learn_table .Learn_table_1 .Learn_img img:first-child {
    width: 391px;
    border-radius: 5px;
  }
  .Learn .Learn_table .Learn_table_1 .Learn_img .none {
    display: block;
    position: absolute;
    top: 90px;
    left: 20px;
  }
  .Learn .Learn_table .Learn_table_1 .Learn_img .img_none {
    left: 310px;
  }
  .Learn .Learn_table .Learn_table_1 .Learn_text {
    display: flex;
    padding: 24px 20px 0;
    justify-content: space-between;
    align-items: center;
    max-width: 392px;
  }
  .Learn .Learn_table .Learn_table_1 .Learn_text .Learn_text_icon {
    display: flex;
    max-width: 48px;
    height: 24px;
    align-items: center;
    gap: 6px;
    margin-bottom: 70px;
  }
  .Learn .Learn_table .Learn_table_1 .Learn_text .Learn_text_icon p {
    font-size: 16px;
  }
  .Learn .Learn_table .Learn_table_1 .Learn_text .Learn_text_icon i {
    font-size: 18px;
  }
  .Learn .Learn_table .Learn_table_1 .Learn_text h5 {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    max-width: 340px;
    margin-bottom: 42px;
  }
  .Learn .Learn_table .Learn_table_1 .Learn_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px 28px;
  }
  .Learn .Learn_table .Learn_table_1 .Learn_button .Learn_button_left {
    display: flex;
    gap: 16px;
    margin: 0;
  }
  .Learn .Learn_table .Learn_table_1 .Learn_button .Learn_button_left h6 {
    font-size: 16px;
    font-weight: 500;
    color: #333;
  }
  .Learn .Learn_table .Learn_table_1 .Learn_button .Learn_button_left .Learn_button_left_icon {
    display: flex;
    gap: 8px;
  }
  .Learn .Learn_table .Learn_table_1 .Learn_button .Learn_button_left .Learn_button_left_icon p {
    font-size: 16px;
    color: #333;
  }
  .Learn .Learn_table .Learn_table_1 .Learn_button .Learn_button_right h3 {
    font-size: 24px;
    font-weight: 500;
    color: #09b451;
    margin: 0;
  }
}
.Education .Education_top h2 {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-top: 48px;
  margin-bottom: 32px;
}
.Education .Education_Table .Education_left {
  position: relative;
}
.Education .Education_Table .Education_left .edo img {
  font-size: 376px;
}
.Education .Education_Table .Education_left .Education_div {
  border-radius: 6.022px 6.022px 15.055px 6.022px;
  background: #fff;
  text-align: center;
  width: 112px;
  box-shadow: 0px 0px 66.4558181763px 0px rgba(112, 112, 112, 0.25);
  position: absolute;
  top: 200px;
  left: 320px;
  padding: 10px 8px 22px;
}
.Education .Education_Table .Education_left .Education_div .Education_line {
  position: relative;
  margin-top: 8px;
}
.Education .Education_Table .Education_left .Education_div .Education_line h3 {
  text-align: center;
  font-size: 20.986px;
  font-weight: 600;
  color: #09b451;
}
.Education .Education_Table .Education_left .Education_div .Education_line h4 {
  font-size: 13px;
  font-weight: 600;
  color: #000;
  margin-top: 5px;
}
.Education .Education_Table .Education_left .Education_div .Education_line img {
  position: absolute;
  top: 28px;
  left: 25px;
  width: 34px;
}
.Education .Education_right .Education_text h2 {
  font-size: 24px;
  max-width: 317px;
  font-weight: 600;
  margin-top: 32px;
}
.Education .Education_right .Education_icon {
  margin-bottom: 48px;
}
.Education .Education_right .Education_icon .Education_icon_1 {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}
.Education .Education_right .Education_icon .Education_icon_1 p {
  font-size: 14px;
  font-weight: 500;
  max-width: 326px;
}

@media screen and (min-width: 1440px) {
  .Education .Education_top h2 {
    font-size: 32px;
    font-weight: 600;
    color: #000;
    margin-top: 98px;
    margin-bottom: 64px;
  }
  .Education .Education_Table {
    display: flex;
    gap: 98px;
  }
  .Education .Education_Table .Education_left {
    position: relative;
  }
  .Education .Education_Table .Education_left .edo img {
    font-size: 392px;
  }
  .Education .Education_Table .Education_left .Education_div {
    border-radius: 6.022px 6.022px 15.055px 6.022px;
    background: #fff;
    text-align: center;
    width: 129px;
    box-shadow: 0px 0px 66.4558181763px 0px rgba(112, 112, 112, 0.25);
    position: absolute;
    top: 200px;
    left: 310px;
    padding: 12px 9px 26px;
  }
  .Education .Education_Table .Education_left .Education_div .Education_line {
    position: relative;
    margin-top: 8px;
  }
  .Education .Education_Table .Education_left .Education_div .Education_line h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #09b451;
  }
  .Education .Education_Table .Education_left .Education_div .Education_line h4 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-top: 5px;
  }
  .Education .Education_Table .Education_left .Education_div .Education_line img {
    position: absolute;
    top: 30px;
    left: 35px;
    width: 39px;
  }
  .Education .Education_right .Education_text h2 {
    font-size: 48px;
    max-width: 533px;
    font-weight: 600;
    margin: 0;
  }
  .Education .Education_right .Education_icon {
    margin-bottom: 48px;
  }
  .Education .Education_right .Education_icon .Education_icon_1 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
  }
  .Education .Education_right .Education_icon .Education_icon_1 p {
    font-size: 20px;
    font-weight: 500;
    max-width: 525px;
  }
}
.r_box {
  padding: 48px 0;
}
.r_box h3 {
  display: none;
}
.r_box .r_box1 {
  display: flex;
  gap: 26px;
}
.r_box .r_box1 h2 {
  width: 252px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px; /* 150% */
}
.r_box .r_box1 h2 span {
  color: #09b451;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  position: relative;
}
.r_box .r_box1 h2 span img {
  width: 109px;
  height: 6.104px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.r_box .r_box1 .r_imgs {
  display: flex;
  padding: 8.75px;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.r_box .r_box2 {
  display: flex;
  gap: 16px;
  padding-top: 24px;
}
.r_box .r_box2 .r_box2_1 {
  padding: 16px 14px 11px;
}
.r_box .r_box2 .r_box2_1 .r_box2_1_1 {
  display: flex;
  gap: 12px;
  align-items: center;
}
.r_box .r_box2 .r_box2_1 .r_box2_1_1 img {
  width: 28px;
  height: 28px;
}
.r_box .r_box2 .r_box2_1 .r_box2_1_1 h4 {
  font-size: 12px;
  font-weight: 600;
}
.r_box .r_box2 .r_box2_1 .r_box2_1_1 h5 {
  color: #09b451;
  font-size: 12px;
  font-weight: 400;
}
.r_box .r_box2 .r_box2_1 p {
  width: 155px;
  height: 82px;
  color: var(--gray-1, #333);
  font-size: 12px;
  font-weight: 400;
  padding-top: 12px;
}
.r_box .r_box2 .r_box2_1 p span {
  display: none;
}
.r_box .r_box2 .r_box2_2 {
  padding: 16px 14px 11px;
}
.r_box .r_box2 .r_box2_2 .r_box2_2_2 {
  display: flex;
  gap: 12px;
  align-items: center;
}
.r_box .r_box2 .r_box2_2 .r_box2_2_2 img {
  width: 28px;
  height: 28px;
}
.r_box .r_box2 .r_box2_2 .r_box2_2_2 h4 {
  font-size: 12px;
  font-weight: 600;
}
.r_box .r_box2 .r_box2_2 .r_box2_2_2 h5 {
  color: #09b451;
  font-size: 12px;
  font-weight: 400;
}
.r_box .r_box2 .r_box2_2 p {
  width: 155px;
  height: 82px;
  color: var(--gray-1, #333);
  font-size: 12px;
  font-weight: 400;
  padding-top: 12px;
}
.r_box .r_box2 .r_box2_2 p span {
  display: none;
}

@media screen and (min-width: 1440px) {
  container {
    max-width: 1240px;
    margin: 0 auto;
  }
  .r_box h3 {
    display: block;
    color: var(--pri-11, #242243);
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
  }
  .r_box .r_box1 {
    display: flex;
    flex-direction: column;
    padding-right: 34px;
    align-items: start;
  }
  .r_box .r_box1 h2 {
    width: 382px;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
  }
  .r_box .r_box1 h2 span {
    font-size: 48px;
    font-weight: 700;
    position: relative;
  }
  .r_box .r_box1 h2 span img {
    position: absolute;
    width: 239.5px;
    height: 11.331px;
    stroke-width: 4px;
  }
  .r_box .r_box1 .r_imgs {
    margin-left: 0;
  }
  .r_box .r_boxx {
    display: flex;
  }
  .r_box .r_box2 {
    padding: 41px auto 50px;
  }
  .r_box .r_box2 .r_box2_1 {
    padding: 59px 48px 48px;
  }
  .r_box .r_box2 .r_box2_1 .r_box2_1_1 {
    display: flex;
    gap: 30px;
    align-items: start;
  }
  .r_box .r_box2 .r_box2_1 .r_box2_1_1 img {
    width: 70px;
    height: 70px;
  }
  .r_box .r_box2 .r_box2_1 .r_box2_1_1 h4 {
    font-size: 20px;
    font-weight: 700;
  }
  .r_box .r_box2 .r_box2_1 .r_box2_1_1 h5 {
    font-size: 20px;
    font-weight: 600;
  }
  .r_box .r_box2 .r_box2_1 p {
    width: 384px;
    height: 151px;
    color: var(--gray-1, #333);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  .r_box .r_box2 .r_box2_1 p span {
    display: inline-block;
  }
  .r_box .r_box2 .r_box2_2 {
    padding: 59px 48px 48px;
  }
  .r_box .r_box2 .r_box2_2 .r_box2_2_2 {
    display: flex;
    gap: 30px;
    align-items: start;
  }
  .r_box .r_box2 .r_box2_2 .r_box2_2_2 img {
    width: 70px;
    height: 70px;
  }
  .r_box .r_box2 .r_box2_2 .r_box2_2_2 h4 {
    font-size: 20px;
    font-weight: 700;
  }
  .r_box .r_box2 .r_box2_2 .r_box2_2_2 h5 {
    font-size: 20px;
    font-weight: 600;
  }
  .r_box .r_box2 .r_box2_2 p {
    width: 384px;
    height: 151px;
    color: var(--gray-1, #333);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  .r_box .r_box2 .r_box2_2 p span {
    display: inline-block;
  }
}
.m_box h3 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 45px;
}
.m_box .m_imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.m_box .m_imgs .m_imgs_2 {
  display: flex;
  justify-content: space-between;
}
.m_box .m_imgs .m_imgs_2 .m_imgs1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 182px;
  height: 173.146px;
}
.m_box .m_imgs .m_imgs_2 .m_imgs1 img {
  width: 53.124px;
  height: 53.124px;
  padding: 14px 0 7px;
}
.m_box .m_imgs .m_imgs_2 .m_imgs1 h4 {
  width: 170.585px;
  color: var(--gray-1, #333);
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 136.5%;
}
.m_box .m_imgs .m_imgs_2 .m_imgs1 h5 {
  width: 181.771px;
  color: #09b451;
  text-align: center;
  font-family: Poppins;
  font-size: 7.457px;
  font-weight: 500;
  line-height: 136.5%;
  padding-bottom: 16px;
}
.m_box .m_imgs .m_imgs_2 .m_imgs1 p {
  width: 138.892px;
  height: 24.702px;
  color: var(--gray-1, #333);
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.m_box .m_imgs .m_imgs_2 .m_imgs2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 182px;
  height: 173.146px;
}
.m_box .m_imgs .m_imgs_2 .m_imgs2 img {
  width: 53.124px;
  height: 53.124px;
  padding: 14px 0 7px;
}
.m_box .m_imgs .m_imgs_2 .m_imgs2 h4 {
  width: 170.585px;
  color: var(--gray-1, #333);
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 136.5%;
}
.m_box .m_imgs .m_imgs_2 .m_imgs2 h5 {
  width: 181.771px;
  color: #09b451;
  text-align: center;
  font-family: Poppins;
  font-size: 7.457px;
  font-weight: 500;
  line-height: 136.5%;
  padding-bottom: 16px;
}
.m_box .m_imgs .m_imgs_2 .m_imgs2 p {
  width: 139.358px;
  height: 37.286px;
  color: var(--gray-1, #333);
  text-align: center;
  font-family: Poppins;
  font-size: 8px;
  font-weight: 400;
  line-height: 18px;
}
.m_box .m_imgs .m_imgs3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 182px;
  height: 173.146px;
}
.m_box .m_imgs .m_imgs3 img {
  width: 53.124px;
  height: 53.124px;
  padding: 14px 0 7px;
}
.m_box .m_imgs .m_imgs3 h4 {
  width: 170.585px;
  color: var(--gray-1, #333);
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 136.5%;
}
.m_box .m_imgs .m_imgs3 h5 {
  width: 181.771px;
  color: #09b451;
  text-align: center;
  font-family: Poppins;
  font-size: 7.457px;
  font-weight: 500;
  line-height: 136.5%;
  padding-bottom: 16px;
}
.m_box .m_imgs .m_imgs3 p {
  width: 139.358px;
  height: 48.938px;
  color: var(--gray-1, #333);
  text-align: center;
  font-family: Poppins;
  font-size: 7.814px;
  font-weight: 400;
  line-height: 12.118px;
}

@media screen and (min-width: 1440px) {
  container {
    max-width: 1240px;
    margin: 0 auto;
  }
  .m_box h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 64px;
  }
  .m_box .m_imgs {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
  }
  .m_box .m_imgs .m_imgs_2 {
    display: flex;
  }
  .m_box .m_imgs .m_imgs_2 .m_imgs1 {
    display: flex;
    width: 390.49px;
    height: 371.494px;
  }
  .m_box .m_imgs .m_imgs_2 .m_imgs1 img {
    width: 113.981px;
    height: 113.981px;
  }
  .m_box .m_imgs .m_imgs_2 .m_imgs1 h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 136.5%;
  }
  .m_box .m_imgs .m_imgs_2 .m_imgs1 h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 136.5%;
  }
  .m_box .m_imgs .m_imgs_2 .m_imgs1 p {
    width: 298px;
    height: 53px;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
  .m_box .m_imgs .m_imgs_2 .m_imgs2 {
    display: flex;
    width: 390.49px;
    height: 371.494px;
  }
  .m_box .m_imgs .m_imgs_2 .m_imgs2 img {
    width: 113.981px;
    height: 113.981px;
  }
  .m_box .m_imgs .m_imgs_2 .m_imgs2 h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 136.5%;
  }
  .m_box .m_imgs .m_imgs_2 .m_imgs2 h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 136.5%;
  }
  .m_box .m_imgs .m_imgs_2 .m_imgs2 p {
    width: 298px;
    height: 53px;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
  .m_box .m_imgs .m_imgs3 {
    display: flex;
    width: 390.49px;
    height: 371.494px;
  }
  .m_box .m_imgs .m_imgs3 img {
    width: 113.981px;
    height: 113.981px;
  }
  .m_box .m_imgs .m_imgs3 h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 136.5%;
  }
  .m_box .m_imgs .m_imgs3 h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 136.5%;
  }
  .m_box .m_imgs .m_imgs3 p {
    width: 298px;
    height: 53px;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
}
#Contact__section {
  background-image: url(../Imags/CTA_Contact-bg.png);
  background-size: cover;
  padding: 87px 0 70px 0;
}
#Contact__section .Contact_img {
  display: none;
}
#Contact__section .Contact_text {
  text-align: center;
}
#Contact__section .Contact_text h2 {
  color: #fff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 24px;
}
#Contact__section .Contact_text p {
  color: #fff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 64px;
}
#Contact__section .Contact_text .Contact_btns {
  display: flex;
  gap: 32px;
  align-items: center;
}
#Contact__section .Contact_text .Contact_btns button {
  border-radius: 5px;
  padding: 20px 42px;
}
#Contact__section .Contact_text .Contact_btns .btn-white {
  background-color: #fff;
  color: #09b451;
}
#Contact__section .Contact_text .Contact_btns button:hover {
  background-color: #fff;
  color: #09b451;
  cursor: pointer;
}
#Contact__section .Contact_text .Contact_btns .btn-white:hover {
  background-color: #09b451;
  color: #fff;
}

@media screen and (min-width: 768px) {
  #Contact__section {
    padding: 70px 0 50px 0;
  }
  #Contact__section .container {
    width: 90%;
    margin: 0 auto;
  }
  #Contact__section .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
  }
  #Contact__section .Contact_img {
    display: flex;
  }
  #Contact__section .Contact_img img {
    position: relative;
    bottom: 100px;
    width: 350px;
    height: 350px;
  }
  #Contact__section .Contact_text {
    text-align: start;
    margin-top: -120px;
  }
  #Contact__section .Contact_text h2 {
    color: #fff;
    text-align: start;
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 800;
    line-height: 38px;
    margin-bottom: 18px;
  }
  #Contact__section .Contact_text p {
    color: #fff;
    text-align: start;
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
  }
  #Contact__section .Contact_text .Contact_btns {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  #Contact__section .Contact_text .Contact_btns button {
    border-radius: 5px;
    padding: 15px 20px;
    font-weight: 500;
    font-size: 14px;
  }
  #Contact__section .Contact_text .Contact_btns .btn-white {
    background-color: #fff;
    color: #09b451;
  }
  #Contact__section .Contact_text .Contact_btns button:hover {
    background-color: #fff;
    color: #09b451;
    cursor: pointer;
  }
  #Contact__section .Contact_text .Contact_btns .btn-white:hover {
    background-color: #09b451;
    color: #fff;
  }
}
@media screen and (min-width: 1300px) {
  #Contact__section {
    padding: 70px 0 76px 0;
  }
  #Contact__section .container {
    width: 1280px;
    margin: 0 auto;
  }
  #Contact__section .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
  }
  #Contact__section .Contact_img {
    display: flex;
  }
  #Contact__section .Contact_img img {
    position: relative;
    bottom: 120px;
    width: 513px;
    height: 513px;
  }
  #Contact__section .Contact_text {
    text-align: start;
    margin-top: -120px;
  }
  #Contact__section .Contact_text h2 {
    color: #fff;
    text-align: start;
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 24px;
    line-height: normal;
  }
  #Contact__section .Contact_text p {
    color: #fff;
    text-align: start;
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 90px;
  }
  #Contact__section .Contact_text .Contact_btns {
    display: flex;
    gap: 32px;
    align-items: center;
  }
  #Contact__section .Contact_text .Contact_btns button {
    border-radius: 5px;
    padding: 20px 40px;
    font-weight: 500;
    font-size: 16px;
  }
  #Contact__section .Contact_text .Contact_btns .btn-white {
    background-color: #fff;
    color: #09b451;
  }
  #Contact__section .Contact_text .Contact_btns button:hover {
    background-color: #fff;
    color: #09b451;
    cursor: pointer;
  }
  #Contact__section .Contact_text .Contact_btns .btn-white:hover {
    background-color: #09b451;
    color: #fff;
  }
}
footer {
  background-color: #000;
  color: #fff;
  padding: 63px 0;
}
footer .footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
footer .footer .Footer_log {
  text-align: left;
  margin-bottom: 48px;
}
footer .footer .Footer_log h3 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 6px;
}
footer .footer .Footer_log form {
  max-width: 100%;
  display: flex;
}
footer .footer .Footer_log form input {
  width: 100%;
  padding: 15px 15px 11px 13px;
  background: #fff;
  color: #3bd27b;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: normal;
  border: none;
  border-radius: 7px 0 0 7pxpx;
}
footer .footer .Footer_log form button {
  padding: 15px 15px 11px 14px;
  border-radius: 0 7px 7px 0;
}
footer .footer .Footer_log form button:hover {
  cursor: pointer;
}
footer .footer .Footer_menu {
  display: flex;
  flex-direction: column-reverse;
}
footer .footer .Footer_menu .footer_links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 20px;
  flex-wrap: wrap;
}
footer .footer .Footer_menu .footer_links .f-a,
footer .footer .Footer_menu .footer_links .f-b {
  display: none;
}
footer .footer .Footer_menu .footer_links ol li {
  margin-bottom: 8px;
}
footer .footer .Footer_menu .footer_links ol li a {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-transform: capitalize;
}
footer .footer .Footer_menu .footer_text h3 {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 32.8px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 24px;
}
footer .footer .Footer_menu .footer_text p {
  display: none;
}
footer .footer .Footer_menu .footer_icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .footer .Footer_menu .footer_icons a {
  color: "Open Sans", sans-serif;
}
footer .footer .Footer_menu .footer_icons a i {
  font-size: 32px;
}

@media screen and (min-width: 764px) {
  footer {
    background-color: #000;
    color: #fff;
    padding: 123px 0 52px 0;
  }
  footer .container {
    width: 90%;
  }
  footer .footer {
    display: flex;
    flex-direction: column;
    gap: 78px;
  }
  footer .footer .Footer_log {
    text-align: center;
    margin-bottom: 0;
  }
  footer .footer .Footer_log h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 18px;
    text-align: center;
    margin-left: 70px;
  }
  footer .footer .Footer_log form input {
    padding: 19px 291px 18px 18px;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    border-radius: 7px 0 0 7px;
    margin-left: 100px;
  }
  footer .footer .Footer_log form button {
    padding: 20px 18px;
    border-radius: 0 7px 7px 0;
  }
  footer .footer .Footer_log form button:hover {
    background-color: #fff;
    color: #09b451;
    border: 1px solid #09b451;
    cursor: pointer;
  }
  footer .footer .Footer_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    margin-bottom: 111px;
  }
  footer .footer .Footer_menu .footer_links {
    display: flex;
    gap: 65px;
    margin-bottom: 30px;
    flex-wrap: nowrap;
  }
  footer .footer .Footer_menu .footer_links .f-b,
  footer .footer .Footer_menu .footer_links .f-a {
    display: none;
  }
  footer .footer .Footer_menu .footer_links ol li {
    margin-bottom: 8px;
  }
  footer .footer .Footer_menu .footer_links ol li a {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-transform: capitalize;
  }
  footer .footer .Footer_menu .footer_text h3 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 32.8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 24px;
  }
  footer .footer .Footer_menu .footer_text p {
    max-width: 296px;
    display: inline-block;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: lowercase;
    margin-bottom: 31px;
  }
  footer .footer .Footer_menu .footer_icons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  footer .footer .Footer_menu .footer_icons a {
    color: "Open Sans", sans-serif;
  }
  footer .footer .Footer_menu .footer_icons a i {
    font-size: 32px;
  }
}
@media screen and (min-width: 1440px) {
  footer {
    background-color: #000;
    color: #fff;
    padding: 123px 0 52px 0;
  }
  footer .footer {
    display: flex;
    flex-direction: column;
    gap: 91px;
  }
  footer .footer .Footer_log {
    text-align: center;
    margin-bottom: 0;
  }
  footer .footer .Footer_log h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18px;
    text-align: center;
    margin-left: 70px;
  }
  footer .footer .Footer_log form {
    max-width: 55%;
    display: flex;
    margin: 0 auto;
  }
  footer .footer .Footer_log form input {
    width: 100%;
    padding: 20px 15px 11px 17px;
    background: #fff;
    color: #3bd27b;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    border: none;
    border-radius: 7px 0 0 7px;
  }
  footer .footer .Footer_log form button {
    padding: 15px 15px 11px 14px;
    border-radius: 0 7px 7px 0;
  }
  footer .footer .Footer_log form button:hover {
    cursor: pointer;
  }
  footer .footer .Footer_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 111px;
  }
  footer .footer .Footer_menu .footer_links {
    display: flex;
    gap: 74px;
    margin-bottom: 30px;
  }
  footer .footer .Footer_menu .footer_links .f-a,
  footer .footer .Footer_menu .footer_links .f-b {
    display: inline-block;
  }
  footer .footer .Footer_menu .footer_links .f-a li,
  footer .footer .Footer_menu .footer_links .f-b li {
    margin-bottom: 8px;
  }
  footer .footer .Footer_menu .footer_links .f-a li a,
  footer .footer .Footer_menu .footer_links .f-b li a {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-transform: capitalize;
  }
  footer .footer .Footer_menu .footer_links ol li {
    margin-bottom: 8px;
  }
  footer .footer .Footer_menu .footer_links ol li a {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-transform: capitalize;
  }
  footer .footer .Footer_menu .footer_text h3 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 32.8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 24px;
  }
  footer .footer .Footer_menu .footer_text p {
    max-width: 296px;
    display: inline-block;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: lowercase;
    margin-bottom: 31px;
  }
  footer .footer .Footer_menu .footer_icons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  footer .footer .Footer_menu .footer_icons a {
    color: "Open Sans", sans-serif;
  }
  footer .footer .Footer_menu .footer_icons a i {
    font-size: 32px;
  }
}

/*# sourceMappingURL=Style.main.css.map */
